In [1]:
import pandas as pd

In [2]:
unames = ['user_id', 'gender', 'age', 'occupation', 'zip']
users = pd.read_table('/Users/lucylinderman/Desktop/ml-1m/users.dat', sep='::', header=None, names=unames, engine='python')

rnames = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings = pd.read_table('/Users/lucylinderman/Desktop/ml-1m/ratings.dat', sep='::', header=None, names=rnames, engine='python')

mnames = ['movie_id', 'title', 'genres']
movies = pd.read_table('/Users/lucylinderman/Desktop/ml-1m/movies.dat', sep='::', header=None, names=mnames, engine='python')

In [4]:
users[:5]

   user_id gender  age  occupation    zip
0        1      F    1          10  48067
1        2      M   56          16  70072
2        3      M   25          15  55117
3        4      M   45           7  02460
4        5      M   25          20  55455

In [5]:
ratings[:5]

   user_id  movie_id  rating  timestamp
0        1      1193       5  978300760
1        1       661       3  978302109
2        1       914       3  978301968
3        1      3408       4  978300275
4        1      2355       5  978824291

In [6]:
movies[:5]

   movie_id                               title                        genres
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy

In [7]:
data = pd.merge(pd.merge(ratings, users), movies)

In [8]:
data.head(1)

,user_id,movie_id,rating,timestamp,gender,age,occupation,zip,title,genres
0,1,1193,5,978300760,F,1,10,48067,One Flew Over the Cuckoo's Nest (1975),Drama

In [14]:

mean_ratings_genre = data.pivot_table('rating', index='genres', columns='gender', aggfunc='mean')

In [15]:
mean_ratings_genre[:5]

gender                                                F         M
genres
Action                                         3.367474  3.352991
Action|Adventure                               3.701213  3.671115
Action|Adventure|Animation                     3.843750  4.217082
Action|Adventure|Animation|Children's|Fantasy  3.146341  2.510638
Action|Adventure|Animation|Horror|Sci-Fi       3.422535  3.563071

In [16]:
top_female_ratings = mean_ratings_genre.sort_values(by='F', ascending=False)

In [17]:
top_female_ratings[:5]

gender                                     F         M
genres
Animation|Comedy|Thriller           4.550802  4.445110
Animation                           4.533333  4.353107
Film-Noir|Romance|Thriller          4.448718  4.211073
Sci-Fi|War                          4.376623  4.464789
Adventure|Children's|Drama|Musical  4.355030  4.203138

In [18]:
top_male_ratings = mean_ratings_genre.sort_values(by='M', ascending=False)

In [19]:
top_male_ratings[:5]

gender                            F         M
genres
Sci-Fi|War                 4.376623  4.464789
Animation|Comedy|Thriller  4.550802  4.445110
Film-Noir|Mystery          4.319444  4.381536
Adventure|War              4.187970  4.376633
Animation                  4.533333  4.353107

In [21]:
labels = ['0-9', '10-19', '20-29', '30-39', '40-49', '50-59', '60-69', '70-79']
data['age_group'] = pd.cut(data.age, range(0, 81, 10), right=False, labels=labels)
data[['age', 'age_group']][:10]

   age age_group
0    1       0-9
1   56     50-59
2   25     20-29
3   25     20-29
4   50     50-59
5   18     10-19
6    1       0-9
7   25     20-29
8   25     20-29
9   45     40-49

In [25]:
mean_ratings_age = data.pivot_table('rating', index='title', columns='age_group', aggfunc='mean')

In [26]:
mean_ratings_age[:5]

age_group,0-9,10-19,20-29,30-39,40-49,50-59,60-69,70-79
title,,,,,,,,
"$1,000,000 Duck (1971)",NaN,3.000000,3.090909,3.133333,2.000000,2.750000,NaN,NaN
'Night Mother (1986),2.0,4.666667,3.423077,2.904762,3.833333,3.750000,NaN,NaN
'Til There Was You (1997),3.5,2.500000,2.666667,2.900000,2.333333,2.600000,NaN,NaN
"'burbs, The (1989)",4.5,3.244444,2.652174,2.818182,2.545455,3.100000,NaN,NaN
...And Justice for All (1979),3.0,3.428571,3.724138,3.657143,4.100000,3.674419,NaN,NaN

In [53]:
def same_ratings(user_id, movie_id):
    match_rating = data.loc[(data['movie_id']==movie_id) & (data['rating']==data.loc[user_id, 'rating'])]
    return match_rating

In [52]:
test = same_ratings(1, 1193)
test[:5]

In [71]:
#given a user, find all movies rated 5 by users in the same age bracket and gender
#results = movies loved by users with similar demographics
#removes duplicates
def match_profile(user_id):
    match_profile = data.loc[(data['gender']==data.loc[user_id, 'gender']) & (data['rating']==5) & (data['age_group']==data.loc[user_id, 'age_group'])]
    result = match_profile.drop_duplicates(subset='movie_id')
    return result

In [72]:
example = match_profile(3)
example[:100]

,user_id,movie_id,rating,timestamp,gender,age,occupation,zip,title,genres,age_group
16,53,1193,5,977946400,M,25,0,96931,One Flew Over the Cuckoo's Nest (1975),Drama,20-29
1728,53,661,5,977979726,M,25,0,96931,James and the Giant Peach (1996),Animation|Children's|Musical,20-29
2257,53,914,5,977979589,M,25,0,96931,My Fair Lady (1964),Musical|Romance,20-29
2895,36,3408,5,983647331,M,25,3,94123,Erin Brockovich (2000),Drama,20-29
4202,3,2355,5,978298430,M,25,15,55117,"Bug's Life, A (1998)",Animation|Children's|Comedy,20-29
5905,3,1197,5,978297570,M,25,15,55117,"Princess Bride, The (1987)",Action|Adventure|Comedy|Romance,20-29
8245,204,1287,5,983855193,M,25,7,92123,Ben-Hur (1959),Action|Adventure|Drama,20-29
8929,12,2804,5,978220237,M,25,12,32793,"Christmas Story, A (1983)",Comedy|Drama,20-29
10286,53,594,5,977979520,M,25,0,96931,Snow White and the Seven Dwarfs (1937),Animation|Children's|Musical,20-29
11044,12,919,5,978220120,M,25,12,32793,"Wizard of Oz, The (1939)",Adventure|Children's|Drama|Musical,20-29
12792,169,595,5,977202051,M,25,7,55439,Beauty and the Beast (1991),Animation|Children's|Musical,20-29
13890,2232,938,5,978355991,M,25,14,60061,Gigi (1958),Musical,20-29
14018,198,2398,5,977092406,M,25,12,55108,Miracle on 34th Street (1947),Drama,20-29
14401,58,2918,5,977938425,M,25,2,30303,Ferris Bueller's Day Off (1986),Comedy,20-29
15866,53,1035,5,977979615,M,25,0,96931,"Sound of Music, The (1965)",Musical,20-29
16749,36,2791,5,978063339,M,25,3,94123,Airplane! (1980),Comedy,20-29
18474,36,2687,5,978061314,M,25,3,94123,Tarzan (1999),Animation|Children's,20-29
18919,58,2018,5,977938159,M,25,2,30303,Bambi (1942),Animation|Children's,20-29
19515,82,3105,5,977774650,M,25,17,48380,Awakenings (1990),Drama,20-29
20196,53,2797,5,977981423,M,25,0,96931,Big (1988),Comedy|Fantasy,20-29
21683,26,2321,5,978139101,M,25,7,23112,Pleasantville (1998),Comedy,20-29
22839,58,720,5,977937005,M,25,2,30303,Wallace & Gromit: The Best of Aardman Animatio...,Animation,20-29
23283,36,1270,5,978060982,M,25,3,94123,Back to the Future (1985),Comedy|Sci-Fi,20-29
25855,9,527,5,978225303,M,25,17,61614,Schindler's List (1993),Drama|War,20-29
28184,549,2340,5,976117529,M,25,6,53217,Meet Joe Black (1998),Romance,20-29
28554,765,48,5,975454105,M,25,17,74467,Pocahontas (1995),Animation|Children's|Musical|Romance,20-29
28893,27,1097,5,978129642,M,25,11,19130,E.T. the Extra-Terrestrial (1982),Children's|Drama|Fantasy|Sci-Fi,20-29
31154,8,1721,5,978230800,M,25,12,11413,Titanic (1997),Drama|Romance,20-29
32710,673,1545,5,975619642,M,25,20,10023,Ponette (1996),Drama,20-29
32778,53,745,5,977952986,M,25,0,96931,"Close Shave, A (1995)",Animation|Comedy|Thriller,20-29
...,...,...,...,...,...,...,...,...,...,...,...
78766,27,3030,5,978129302,M,25,11,19130,Yojimbo (1961),Comedy|Drama|Western,20-29
78983,58,1217,5,977936872,M,25,2,30303,Ran (1985),Drama|War,20-29
79400,533,434,5,976220560,M,25,12,27514,Cliffhanger (1993),Action|Adventure|Crime,20-29
80073,549,2126,5,976116769,M,25,6,53217,Snake Eyes (1998),Action|Crime|Mystery|Thriller,20-29
80520,8,3107,5,978229246,M,25,12,11413,Backdraft (1991),Action|Drama,20-29
81417,195,3108,5,977454110,M,25,12,10458,"Fisher King, The (1991)",Comedy|Drama|Romance,20-29
82357,424,3035,5,976292920,M,25,17,55112,Mister Roberts (1955),Comedy|Drama|War,20-29
82768,170,1253,5,977172844,M,25,11,07002,"Day the Earth Stood Still, The (1951)",Drama|Sci-Fi,20-29
83323,36,1610,5,978211235,M,25,3,94123,"Hunt for Red October, The (1990)",Action|Thriller,20-29
84988,223,292,5,976902588,M,25,17,28262,Outbreak (1995),Action|Drama|Thriller,20-29
85703,195,2236,5,978191008,M,25,12,10458,Simon Birch (1998),Drama,20-29
85913,331,3071,5,1000331075,M,25,7,55902,Stand and Deliver (1987),Drama,20-29
86238,48,902,5,978065419,M,25,4,92107,Breakfast at Tiffany's (1961),Drama|Romance,20-29
86936,198,368,5,976980526,M,25,12,55108,Maverick (1994),Action|Comedy|Western,20-29
87705,3,1259,5,978298296,M,25,15,55117,Stand by Me (1986),Adventure|Comedy|Drama,20-29
89490,8,3147,5,978230550,M,25,12,11413,"Green Mile, The (1999)",Drama|Thriller,20-29
90737,115,1544,5,977501986,M,25,17,28083,"Lost World: Jurassic Park, The (1997)",Action|Adventure|Sci-Fi|Thriller,20-29
91976,149,1293,5,977589121,M,25,1,29205,Gandhi (1982),Drama,20-29
92653,149,1188,5,988680095,M,25,1,29205,Strictly Ballroom (1992),Comedy|Romance,20-29
93346,198,3255,5,976980338,M,25,12,55108,"League of Their Own, A (1992)",Comedy|Drama,20-29
94414,8,3256,5,978229347,M,25,12,11413,Patriot Games (1992),Action|Thriller,20-29
95674,2021,3257,5,974977725,M,25,0,61364,"Bodyguard, The (1992)",Action|Drama|Romance|Thriller,20-29
96092,8,110,5,978229172,M,25,12,11413,Braveheart (1995),Action|Drama|War,20-29
98543,53,2278,5,977972961,M,25,0,96931,Ronin (1998),Action|Crime|Thriller,20-29
99347,53,2490,5,977949481,M,25,0,96931,Payback (1999),Action|Thriller,20-29
100122,195,1834,5,980716747,M,25,12,10458,"Spanish Prisoner, The (1997)",Drama|Thriller,20-29
100613,42,3471,5,978040211,M,25,8,24502,Close Encounters of the Third Kind (1977),Drama|Sci-Fi,20-29
102058,8,589,5,978229138,M,25,12,11413,Terminator 2: Judgment Day (1991),Action|Sci-Fi|Thriller,20-29
104730,252,1690,5,976688625,M,25,12,94112,Alien: Resurrection (1997),Action|Horror|Sci-Fi,20-29
105487,53,3654,5,977950075,M,25,0,96931,"Guns of Navarone, The (1961)",Action|Drama|War,20-29